
 
   <div class="aboutUs">
    <%= form_tag deliverated_order_views_path, method: :put do %>
    <table class="table table-inverse">
      <thead>
        <tr>
          <th>  </th>
          <th>Created </th>
          <th>Table </th>
          <th>Name</th>
          <th>Specification</th>
          <th>Quantity</th>
          <th>State</th>
          
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @ordersWaiter.each do |orderwaiter| %>
          <tr>
            <td><%= check_box_tag "orderdishes_ids[]", orderwaiter.id %></td>
            <td><%= orderwaiter.order_created.to_time.strftime('%B %e at %l:%M %p') %></td>
            <td><%= orderwaiter.number %></td>
            <td><%= orderwaiter.name %></td>
            <td><%= orderwaiter.specification %></td>
            <td><%= orderwaiter.quantity %></td>
            <td><%= orderwaiter.state %></td>
            
          </tr>
        <% end %>
          
      </tbody>
    </table>
    
    
    <%= submit_tag "Deliverated" %>
    
  </div>
<% end %>