<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1><strong>Dinner QR</strong></h1>
          <div class="description">
            <!-- <p>Welcome</p> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h1><strong>Sign up</strong></h1>
              <p>Enter your username and password to log</p>
            </div>
            <div class="form-top-right">
        			<i class="fa fa-key"></i>
        		</div>
          </div>
          <div class="form-bottom">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
              
                <div class="field">
                  <%= f.email_field :email, autofocus: true ,class:"form-control input-lg", placeholder:"Email Address"%>
                </div>
              
                <div class="field">
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off",type:"password",class:"form-control input-lg", placeholder:"Password" %>
                </div>
              
                <div class="field">
                  <%= f.password_field :password_confirmation, autocomplete: "off" ,type:"password",class:"form-control input-lg", placeholder:"Password confirmation"%>
                </div>
              
                <div class="field">
                    Upload a profile photo :<%= f.file_field :photo  %>
                </div>
                <hr class="colorgraph">
                  <div class="row">
                    <div class="col-sm-6">
                        <%= f.submit "Sign up" ,type:"submit",class:"btn btn-lg btn-success btn-block" %>
                    </div>
                    <div class="col-sm-6">
                      <%= link_to "Log in", new_session_path(resource_name),class:"btn btn-lg btn-success btn-block" %>
                    </div>
                  </div>
              <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 social-login">
        	<h3>...or login with:</h3>
        	<div class="social-login-buttons">
            <%= link_to client_facebook_omniauth_authorize_path,class:"btn btn-link-1 btn-link-1-facebook" do %>
              <%= content_tag :i," ", class:"fa fa-facebook" %>
              facebook
            <% end %>
            <%= link_to client_twitter_omniauth_authorize_path,class:"btn btn-link-1 btn-link-1-twitter" do %>
              <%= content_tag :i," ", class:"fa fa-twitter" %>
              Twitter
            <% end %>
            <%= link_to client_google_oauth2_omniauth_authorize_path,class:"btn btn-link-1 btn-link-1-google-plus" do %>
              <%= content_tag :i," ", class:"fa fa-google-plus" %>
              Google Plus
            <% end %>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
