<header>

  <!-- *** TOP ***________________________________________________________ -->
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="social">
            
            <% unless client_signed_in? or chef_signed_in? or administrator_signed_in? or waiter_signed_in? %>
              <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a> 
              <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a> 
              <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a> 
              <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
            <% end %>
          </div>
          <div class="login">
            <% if client_signed_in? %>
              <%= link_to destroy_client_session_path , method: :delete do %>
                <%= content_tag :i," ", class:"fa fa-sign-out" %>
                <%= content_tag :span, "Sign out", class:"hidden-xs text-uppercase" %>
              <% end %>
              <%= link_to edit_client_registration_path do %>
                <%= content_tag :i," ", class:"fa fa-user" %>
                <%= content_tag :span, "Edit registration", class:"hidden-xs text-uppercase" %>
                <%= image_tag current_client.photo.url(:thumb) %>
              <% end %>
            <% elsif chef_signed_in? %>
              <%= link_to destroy_chef_session_path , method: :delete do %>
                <%= content_tag :i," ", class:"fa fa-sign-out" %>
                <%= content_tag :span, "Sign out", class:"hidden-xs text-uppercase" %>
              <% end %>
              <%= link_to edit_chef_registration_path do %>
                <%= content_tag :i," ", class:"fa fa-user" %>
                <%= content_tag :span, "Edit registration", class:"hidden-xs text-uppercase" %>
                <%= image_tag current_chef.photo.url(:thumb) %>
              <% end %>
            <% elsif waiter_signed_in? %>
              <%= link_to destroy_waiter_session_path , method: :delete do %>
                <%= content_tag :i," ", class:"fa fa-sign-out" %>
                <%= content_tag :span, "Sign out", class:"hidden-xs text-uppercase" %>
              <% end %>
              <%= link_to edit_waiter_registration_path do %>
                <%= content_tag :i," ", class:"fa fa-user" %>
                <%= content_tag :span, "Edit registration", class:"hidden-xs text-uppercase" %>
                <%= image_tag current_waiter.photo.url(:thumb) %>
              <% end %>
            <% elsif administrator_signed_in? %>
              <%= link_to destroy_administrator_session_path , method: :delete do %>
                <%= content_tag :i," ", class:"fa fa-sign-out" %>
                <%= content_tag :span, "Sign out", class:"hidden-xs text-uppercase" %>
              <% end %>
              <%= link_to edit_administrator_registration_path do %>
                <%= content_tag :i," ", class:"fa fa-user" %>
                <%= content_tag :span, "Edit registration", class:"hidden-xs text-uppercase" %>
              <% end %>
              <%= image_tag current_administrator.photo.url(:thumb) %>
            <% else %>
            
              <a href="#" data-toggle="modal" data-backdrop="false" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Sign in</span></a>
              
              <%= link_to new_client_registration_path do %>
                <%= content_tag :i," ", class:"fa fa-user" %>
                <%= content_tag :span, "Register", class:"hidden-xs text-uppercase" %>
              <% end %>
              
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- *** TOP END *** -->
<!-- *** LOGIN MODAL ***
_________________________________________________________ -->

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Sign In</h4>
                    </div>
                    <div align="center" class="modal-body" >
                      <p class="text-center">
                        <%= link_to new_client_session_path do %>
                          <%= content_tag :button,"Client ", class:"fa fa-user", class:"btn btn-template-primary" %>
                        <% end %>
                      </p>
                      <p class="text-center">
                        <%= link_to new_chef_session_path do %>
                          <%= content_tag :button,"Chef ", class:"fa fa-user", class:"btn btn-template-primary" %>
                        <% end %>
                      </p>
                      <p class="text-center">
                        <%= link_to new_waiter_session_path do %>
                          <%= content_tag :button,"Waiter ", class:"fa fa-user" , class:"btn btn-template-primary" %>
                        <% end %>
                      </p>
                      <p class="text-center">
                        <%= link_to new_administrator_session_path do %>
                          <%= content_tag :button,"Administrator ", class:"fa fa-user" , class:"btn btn-template-primary" %>
                        <% end %>
                      </p>
                    </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>      
                </div>
            </div>
        </div>

        <!-- *** LOGIN MODAL END *** -->

     

  

</header>
