<header>

  <!-- *** TOP ***________________________________________________________ -->
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="social">
            
            <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a> 
            <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a> 
            <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a> 
            <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
          </div>
          <div class="login">
            <% if client_signed_in? %>
              <%= link_to destroy_client_session_path , method: :delete do %>
                <%= content_tag :i," ", class:"fa fa-sign-out" %>
                <%= content_tag :span, "Sign out", class:"hidden-xs text-uppercase" %>
              <% end %>
              <%= link_to edit_client_registration_path do %>
                <%= content_tag :i," ", class:"fa fa-user" %>
                <%= content_tag :span, "Edit registration", class:"hidden-xs text-uppercase" %>
              <% end %> 
            <% elsif chef_signed_in? %>
              <%= link_to destroy_chef_session_path , method: :delete do %>
                <%= content_tag :i," ", class:"fa fa-sign-out" %>
                <%= content_tag :span, "Sign out", class:"hidden-xs text-uppercase" %>
              <% end %>
              <%= link_to edit_chef_registration_path do %>
                <%= content_tag :i," ", class:"fa fa-user" %>
                <%= content_tag :span, "Edit registration", class:"hidden-xs text-uppercase" %>
              <% end %>
            <% elsif waiter_signed_in? %>
              <%= link_to destroy_waiter_session_path , method: :delete do %>
                <%= content_tag :i," ", class:"fa fa-sign-out" %>
                <%= content_tag :span, "Sign out", class:"hidden-xs text-uppercase" %>
              <% end %>
              <%= link_to edit_waiter_registration_path do %>
                <%= content_tag :i," ", class:"fa fa-user" %>
                <%= content_tag :span, "Edit registration", class:"hidden-xs text-uppercase" %>
              <% end %>
            <% elsif administrator_signed_in? %>
              <%= link_to destroy_administrator_session_path , method: :delete do %>
                <%= content_tag :i," ", class:"fa fa-sign-out" %>
                <%= content_tag :span, "Sign out", class:"hidden-xs text-uppercase" %>
              <% end %>
              <%= link_to edit_administrator_registration_path do %>
                <%= content_tag :i," ", class:"fa fa-user" %>
                <%= content_tag :span, "Edit registration", class:"hidden-xs text-uppercase" %>
              <% end %>
            <% else %>
            
              <a href="#" data-toggle="modal" data-backdrop="false" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Sign in</span></a>
              
              <%= link_to new_client_registration_path do %>
                <%= content_tag :i," ", class:"fa fa-user" %>
                <%= content_tag :span, "Register", class:"hidden-xs text-uppercase" %>
              <% end %>
              
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- *** TOP END *** -->
<!-- *** LOGIN MODAL ***
_________________________________________________________ -->

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Sign In</h4>
                    </div>
                    <div align="center" class="modal-body" >
                      <p class="text-center">
                        <%= link_to new_client_session_path do %>
                          <%= content_tag :button,"Client ", class:"fa fa-user", class:"btn btn-template-primary" %>
                        <% end %>
                      </p>
                      <p class="text-center">
                        <%= link_to new_chef_session_path do %>
                          <%= content_tag :button,"Chef ", class:"fa fa-user", class:"btn btn-template-primary" %>
                        <% end %>
                      </p>
                      <p class="text-center">
                        <%= link_to new_waiter_session_path do %>
                          <%= content_tag :button,"Waiter ", class:"fa fa-user" , class:"btn btn-template-primary" %>
                        <% end %>
                      </p>
                      <p class="text-center">
                        <%= link_to new_administrator_session_path do %>
                          <%= content_tag :button,"Administrator ", class:"fa fa-user" , class:"btn btn-template-primary" %>
                        <% end %>
                      </p>
                    </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>      
                </div>
            </div>
        </div>

        <!-- *** LOGIN MODAL END *** -->

        <section>
            <!-- *** HOMEPAGE CAROUSEL ***
 _________________________________________________________ -->

  <!-- *** NAVBAR ***
_________________________________________________________ -->

  <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">

      <div class="container">
        <div class="navbar-header">
          <%= link_to root_path , :class => "navbar-brand home" do %>
              <%= image_tag "logo.png", :alt => "Dinnerqr logo", :class => "hidden-xs hidden-sm" %>
              <%= image_tag "logo-small.png", :alt => "Dinnerqr logo", :class => "visible-xs visible-sm" %>
          <% end %>


          <div class="navbar-buttons">
            <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-align-justify"></i>
            </button>
          </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown ">
              <%=link_to 'Home', root_path,class:"dropdown-toggle"%>
            </li>
             <% if administrator_signed_in? %>
            <li class="dropdown ">
              <%=link_to 'Manage', rails_admin.dashboard_path,class:"dropdown-toggle"%>
            </li>
             <% end%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dishes<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if client_signed_in? %>
                    <li><%=link_to 'Menu', menu_path ,class:"dropdown-toggle"%></li>
                    <li><%=link_to 'Orders', new_order_path ,class:"dropdown-toggle"%></li>
                    <li><%=link_to 'History', historyClient_path ,class:"dropdown-toggle"%></li>
                <% elsif chef_signed_in? %>
                    <li><%=link_to 'Dishes', dishes_path ,class:"dropdown-toggle"%></li>
                    <li><%=link_to 'Orders', orders_path ,class:"dropdown-toggle"%></li>
                <% elsif waiter_signed_in? %>
                    <li><%=link_to 'Menu', menu_path ,class:"dropdown-toggle"%></li>
                <% elsif administrator_signed_in? %>
                    <li><%=link_to 'Dishes', dishes_path ,class:"dropdown-toggle"%></li>
                    <li><%=link_to 'Menu', menu_path ,class:"dropdown-toggle"%></li>
                    <li><%=link_to 'Specialities', specialities_path ,class:"dropdown-toggle"%></li>
                    <li><%=link_to 'Orders', orders_path ,class:"dropdown-toggle"%></li>
                    <li><%=link_to 'New Chef', new_chef_registration_path ,class:"dropdown-toggle"%></li>
                    <li><%=link_to 'New waiter', new_waiter_registration_path ,class:"dropdown-toggle"%></li>
                <% else %>
                    <li><%=link_to 'Menu', menu_path ,class:"dropdown-toggle"%></li>
                <% end %>
             </ul>
            </li>
            <!--
            <li class="dropdown use-yamm yamm-fw">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="yamm-content">
                    <div class="row">
                      <div class="col-sm-6">
                        <%= image_tag "template-homepage.png", :class => "img-responsive hidden-xs", :alt => ""%>
                      </div>
                      <div class="col-sm-3">
                        <h5>Portfolio</h5>
                        <ul>
                          <li><a href="portfolio-2.html">2 columns</a>
                          </li>
                          <li><a href="portfolio-no-space-2.html">2 columns with negative space</a>
                          </li>
                          <li><a href="portfolio-3.html">3 columns</a>
                          </li>
                          <li><a href="portfolio-no-space-3.html">3 columns with negative space</a>
                          </li>
                          <li><a href="portfolio-4.html">4 columns</a>
                          </li>
                          <li><a href="portfolio-no-space-4.html">4 columns with negative space</a>
                          </li>
                          <li><a href="portfolio-detail.html">Portfolio - detail</a>
                          </li>
                          <li><a href="portfolio-detail-2.html">Portfolio - detail 2</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-3">
                        <h5>About</h5>
                        <ul>
                          <li><a href="about.html">About us</a>
                          </li>
                          <li><a href="team.html">Our team</a>
                          </li>
                          <li><a href="team-member.html">Team member</a>
                          </li>
                          <li><a href="services.html">Services</a>
                          </li>
                        </ul>
                        <h5>Marketing</h5>
                        <ul>
                          <li><a href="packages.html">Packages</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            -->
            <!-- ========== FULL WIDTH MEGAMENU ================== -->
            <!--
            <li class="dropdown use-yamm yamm-fw">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">All
                Pages <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="yamm-content">
                    <div class="row">
                      <div class="col-sm-3">
                        <h5>Home</h5>
                        <ul>
                          <li><a href="index.html">Option 1: Default Page</a>
                          </li>
                          <li><a href="index2.html">Option 2: Application</a>
                          </li>
                          <li><a href="index3.html">Option 3: Startup</a>
                          </li>
                          <li><a href="index4.html">Option 4: Agency</a>
                          </li>
                          <li><a href="index5.html">Option 5: Portfolio</a>
                          </li>
                        </ul>
                        <h5>About</h5>
                        <ul>
                          <li><a href="about.html">About us</a>
                          </li>
                          <li><a href="team.html">Our team</a>
                          </li>
                          <li><a href="team-member.html">Team member</a>
                          </li>
                          <li><a href="services.html">Services</a>
                          </li>
                        </ul>
                        <h5>Marketing</h5>
                        <ul>
                          <li><a href="packages.html">Packages</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-3">
                        <h5>Portfolio</h5>
                        <ul>
                          <li><a href="portfolio-2.html">2 columns</a>
                          </li>
                          <li><a href="portfolio-no-space-2.html">2 columns with negative space</a>
                          </li>
                          <li><a href="portfolio-3.html">3 columns</a>
                          </li>
                          <li><a href="portfolio-no-space-3.html">3 columns with negative space</a>
                          </li>
                          <li><a href="portfolio-4.html">4 columns</a>
                          </li>
                          <li><a href="portfolio-no-space-4.html">4 columns with negative space</a>
                          </li>
                          <li><a href="portfolio-detail.html">Portfolio - detail</a>
                          </li>
                          <li><a href="portfolio-detail-2.html">Portfolio - detail 2</a>
                          </li>
                        </ul>
                        <h5>User pages</h5>
                        <ul>
                          <li><a href="customer-register.html">Register / login</a>
                          </li>
                          <li><a href="customer-orders.html">Orders history</a>
                          </li>
                          <li><a href="customer-order.html">Order history detail</a>
                          </li>
                          <li><a href="customer-wishlist.html">Wishlist</a>
                          </li>
                          <li><a href="customer-account.html">Customer account / change password</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-3">
                        <h5>Shop</h5>
                        <ul>
                          <li><a href="shop-category.html">Category - sidebar right</a>
                          </li>
                          <li><a href="shop-category-left.html">Category - sidebar left</a>
                          </li>
                          <li><a href="shop-category-full.html">Category - full width</a>
                          </li>
                          <li><a href="shop-detail.html">Product detail</a>
                          </li>
                        </ul>
                        <h5>Shop - order process</h5>
                        <ul>
                          <li><a href="shop-basket.html">Shopping cart</a>
                          </li>
                          <li><a href="shop-checkout1.html">Checkout - step 1</a>
                          </li>
                          <li><a href="shop-checkout2.html">Checkout - step 2</a>
                          </li>
                          <li><a href="shop-checkout3.html">Checkout - step 3</a>
                          </li>
                          <li><a href="shop-checkout4.html">Checkout - step 4</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-3">
                        <h5>Contacto</h5>
                        <ul>
                          <li><a href="aboutus/about">Acerca de</a>
                          </li>
                        </ul>
                        <h5>Pages</h5>
                        <ul>
                          <li><a href="text.html">Text page</a>
                          </li>
                          <li><a href="text-left.html">Text page - left sidebar</a>
                          </li>
                          <li><a href="text-full.html">Text page - full width</a>
                          </li>
                          <li><a href="faq.html">FAQ</a>
                          </li>
                          <li><a href="404.html">404 page</a>
                          </li>
                        </ul>
                        <h5>Blog</h5>
                        <ul>
                          <li><a href="blog.html">Blog listing big</a>
                          </li>
                          <li><a href="blog-medium.html">Blog listing medium</a>
                          </li>
                          <li><a href="blog-small.html">Blog listing small</a>
                          </li>
                          <li><a href="blog-post.html">Blog Post</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            -->
            <!-- ========== FULL WIDTH MEGAMENU END ================== -->

            <li class="dropdown">
              <%=link_to 'about us', about_path ,class:"dropdown-toggle"%>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->


        <div class="collapse clearfix" id="search">

          <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">

                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                </span>
            </div>
          </form>

        </div>
        <!--/.nav-collapse -->

      </div>


    </div>
    <!-- /#navbar -->

  </div>

  <!-- *** NAVBAR END-->
  
  

</header>
