<div class="aboutUs">
  <p id="notice"><%= notice %></p>
  
  <h1 align="center" > Order <%= @Order%></h1>
  <p>
    <strong>State:</strong>
    <%= @order.state %>
  </p>
  <p>
    <strong>table:</strong>
    <%= @table.number %>
  </p>
  <p>
    <strong>waiter:</strong>
    <%= @table.waiter.email %>
  </p>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Specification</th>
        <th>State</th>
        <th>Quantity</th>
        <th>Price</th>
        
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @orderdishes.each do |orderdish| %>
        <tr>
          <td><%= image_tag orderdish.becomes(Dish).photo.url(:thumb) %></td>
          <td><%= orderdish.name %></td>
          <td><%= orderdish.specification %></td>
          <td><%= orderdish.orderstate %></td>
          <td><%= orderdish.quantity %></td>
          <td><%= orderdish.price %></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
  <p>
    <strong>Total price:</strong>
    <%= @order.price %>
  </p>
  <%= link_to 'Back', orders_path %>
</div>