<div class="aboutUs">
		<h1 align="center" >Table</h1>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Number:</strong>
	  <%= @table.number %>
	</p>

	<p>
	  <strong>Sector:</strong>
	  <%= @table.sector %>
	</p>

	  <%= image_tag @table.qrCode.thumb('300x300#').url if @table.qrCode_stored? %>
	  <br>
	  
	<%= link_to 'Edit', edit_table_path(@table) %> |
	<%= link_to 'Back', tables_path %>
</div>