
<%= stylesheet_link_tag 'font-awesome'%>
<div class="container">

      <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>

	<div class="container text-center">
	    <form class="form-signin" data-ember-action="2">
	    	<h2 class="form-signin-heading">Ingresa</h2>

			<small class="text-muted">Connectate con la cuenta a nuestra palataforma</small>
			<br><br>


<p>
<a class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
<a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
</p>
<p>
<a class="btn btn-primary social-login-btn social-linkedin" href="/auth/linkedin"><i class="fa fa-linkedin"></i></a>
<a class="btn btn-primary social-login-btn social-google" href="/auth/google"><i class="fa fa-google-plus"></i></a>
</p>

<br><br>

		    <small class="text-muted">O conecta con tus datos</small>
		    <br><br>
	    	  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	        <div class="ember-view ember-text-field ">
            <%= f.email_field :email, autofocus: true, placeholder:"email" %>
          </div>
	        <div class="ember-view ember-text-field ">
            <%= f.password_field :password, autocomplete: "off", placeholder: "contraseña" %>
          </div>

	        <script id="metamorph-22-start" type="text/x-placeholder"></script><script id="metamorph-22-end" type="text/x-placeholder"></script>

	        <div class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3"> <%= f.submit "Ingresa" %></div>
	        <br>
          <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>Remember Me
          <% end -%>
          <br>
	        <small class="create-account text-muted">Dont have a [your service] or social network account?  </small>
	    </form>
      <% end %>
    </div>
<%= render "devise/shared/links" %>
