<title> log in</title>
<%= stylesheet_link_tag 'font-awesome'%>
<%= stylesheet_link_tag "login_stylesheet" %>

<div class="container text-center">
        <h2 class="form-signin-heading">Ingresa</h2>

      <small class="text-muted">Connectate con la cuenta a nuestra palataforma</small>
      <br><br>
    </div>
<div class="container">



    <div class="omb_login">
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-4 col-sm-2">
		        <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-2">
		        <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-2">
		        <a href="#" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Google+</span>
		        </a>
	        </div>
		</div>
<br><br>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    	<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<%= f.email_field :email, autofocus: true, placeholder:"email", class:'form-control' %>
				</div>
				<span class="help-block"></span>

	    		<div class="input-group">
				  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
    		      <%= f.password_field :password, autocomplete: "off", placeholder: "contraseña" ,class:'form-control' %>
				</div>
        	       <span class="help-block">Password error</span>
<br><br>
       		   <div class="actions">
   			       <%= f.submit "Ingresa", :class=>"btn btn-lg btn-block" %>
         		 </div>
      		 </div>
       	</div>
<br>
  <% if devise_mapping.rememberable? -%>
   	<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-3">
				<label class="checkbox">
					<%= f.check_box :remember_me %>Remember Me
				</label>
			</div>
		</div>
  <% end -%>
  <% end -%>
