
<div class="aboutUs">

  <h1 align=center>
  
    <%= @dish.name %>
  </h1>
<p>
  
  <br>
  <% if @dish.nil? %>
    <h1> Sin plato</h1>
  <% else %>
  <%= image_tag @dish.photo.url(:thumb) %>
  <%end%>
</p>


<p>
  <strong>State:</strong>
  <%= @dish.state %>
</p>


<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @dish.speciality.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>
<h3>Comments</h3>
<ul>
  <% @comments.each do |comment| %>
    <li>
      <%= comment.body %> - <%= comment.client.email %>
    </li>
  <% end %>
  <%= will_paginate @comments %>
  
</ul>
<%= render "comments/form" %>



<%= link_to 'Back', dishes_path %>
</div>