
<div class="aboutUs">

  <h1 align=center>
  
    <%= @dish.name %>
  </h1>
<p>
<div align = center  >
  <br>
  <% if @dish.nil? %>
    <h1> Sin plato</h1>
  <% else %>
  <%= image_tag @dish.photo.url(:thumb) %>
  <%end%>
</p>
<p>
  <strong>State:</strong>
  <%= @dish.state %>
</p>
</div>


<div class = 'container'> 
<div class = 'row'>
  <div class = 'col'>
    <%= link_to like_dish_path(@dish), method: :put do %>
     <i class="fa fa-smile-o" aria-hidden="true"> it's delicious</i>
      <%= @dish.get_upvotes.size %>
    <% end %>
  </div>
  <div class 'col'>
    <%= link_to dislike_dish_path(@dish), method: :put do %>
      <i class="fa fa-frown-o" aria-hidden="true">    i dont like it</i>
      <%= @dish.get_downvotes.size %>
    <% end %>
  </div>
</div>



</div>
<% if @dish.favorite? %>
<div class='text-info'>
  <i class="fa fa-heart" aria-hidden="true"> Seleccion de la casa</i>
</div>


<%end%>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @dish.speciality.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<h3>Comments</h3>
<ul>
  <% @comments.each do |comment| %>
    <li>
      <%= comment.body %> - <%= comment.client.email %>
    </li>
  <% end %>
  <%= will_paginate @comments %>
  
</ul>
<%= render "comments/form" %>



<%= link_to 'Back', dishes_path %>
</div>