<!DOCTYPE html>
<html>
  <head>
    <title>Dinnerqr</title>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>

    <%= favicon_link_tag "favicon.ico"%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <%= render 'partials/top' %>
  <% if notice %>
  <p class="alert alert-success alert-info">
    <a class="close" data-dismiss="alert">&times;</a>
    <%= notice %>
  </p>
  <% end %>
  <% if alert %>
  <p class="alert alert-error alert-warning">
  <a class="close" data-dismiss="alert">&times;</a>
  <%= alert %>
  </p>
  <% end %>
  <% unless client_signed_in? or chef_signed_in? or administrator_signed_in? or waiter_signed_in? %>
  <%= render 'partials/navbar' %>
    <%= yield %>
    
  <%= render 'partials/footer' %>
  <% else %>
    <%= render 'partials/profile' %>
  <% end %>
  <%= render 'partials/copyright' %>
  </body>
</html>
